# JupyterBook output files (HTML & cache)
DISCOVER/_build/
DISCOVER/_tags/

# PyCharm project settings
.idea/

# Virtual environments
.venv/
.env/
venv/
myenv/

# Pyenv version file
.python-version

# Cache and compiled files
__pycache__/
*.py[cod]
*.swp
*.swo

# Logs and temp files
logs/
*.log
.DS_Store

# Environment and dependency files
.envrc
.env.local
.vscode/
