# Jupyterbook output files (html):
DISCOVER/_build/
DISCOVER/_tags/

# helper files for translations
*.mo

# Pycharm
.idea/

# For people using venv
.venv
.env
venv/

# in case of using pyenv
.python-version