name: deploy-book

# Only run this when the main branch changes
on:
  push:
    branches:
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.13
      uses: actions/setup-python@v1
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        pip install jupyter-book
        pip install sphinx-tags

    - name: Build the book
      run: |
        rm -rf DISCOVER/_tags/*
        sphinx-build -b html DISCOVER/ DISCOVER/_build/html

    - name: Copy custom 404.html into language folders
      run: |
        cp DISCOVER/404.html DISCOVER/_build/html/404.html
        cp DISCOVER/404.html locales/es/404.html


    - name: Push book HTML to gh-pages
      uses: peaceiris/actions-gh-pages@v3.9.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./DISCOVER/_build/html
        keep_files: true
        publish_branch: gh-pages
        external_repository: speco29/DISCOVER-Cookbook
