name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write


concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python 3.12.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.8

    - name: Install dependencies
      run: |
        pip install jupyter-book
        pip install sphinx-tags

    - name: Build the book
      if: github.event.action != 'closed'
      run: |
        rm -rf DISCOVER/_tags/*
        jupyter-book build DISCOVER

    - name: Deploy PR Preview
      uses: rossjrw/pr-preview-action@v1
      with:
        source-dir: ./DISCOVER/_build/html/
        preview-branch: gh-pages
        umbrella-dir: pr-preview
        action: auto
        token: ${{ secrets.PREVIEW_TOKEN }}
